:root {
  --font-family: "Atkinson Hyperlegible", sans-serif;
  --border-radius: 0.25rem;

  --input-background: hsl(268, 5%, 90%);
  --input-padding: 0.5rem 0.75rem;

  --button-color: hsl(180, 85%, 16%);
  --button-background: hsl(180, 55%, 91%);
  --button-background-hover: hsl(180, 50%, 86%);
  --button-background-active: hsl(180, 45%, 80%);
  --button-padding: 0.5rem 0.75rem;
  --button-font-weight: 600;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

form {
  display: grid;
  grid-auto-flow: row;
  gap: 1rem;
  width: min(30ch, 100%);
  margin-bottom: 1rem;
}

form button[type="submit"] {
  margin-inline-start: auto;
}

input[type="text"] {
  border-radius: var(--border-radius);
  border: 0;
  background: var(--input-background);
  padding: var(--input-padding);
}

button {
  color: var(--button-color);
  border-radius: var(--border-radius);
  border: 0;
  background: var(--button-background);
  padding: var(--button-padding);
  text-transform: uppercase;
  font-weight: var(--button-font-weight);
}

button:hover {
  background: var(--button-background-hover);
}

button:active {
  background: var(--button-background-active);
}

.form-group {
  display: grid;
  grid-auto-flow: row;
  gap: 0.25rem;
}
